*/ejecutarScript_inicial.bat
*/resultado_output.txt
*.lock
*.ide
*.ide-wal
*.Cache
*.cache
*.suo
*.sou
*.pdb
*.exe
*.ide-shm
*/.vs/
*/obj/
*/bin/
/AplicacionDesktop/FrbaCrucero/.vs/
/AplicacionDesktop/FrbaCrucero/bin/
/AplicacionDesktop/FrbaCrucero/obj/
